
.button1{

	position: relative;
	left: 25%;
}

.button2{

	position: relative;
	left: 25%;
}

.button {
  background-color: #ecdac7;
  border: 40px;
  color: #202020;
  padding: 10px 50px;
  text-align: center;
  font-size: 100%;
  border-radius: 40px;
  margin-top: 2%;
  margin-left: 3%;

}

.button:hover {
  background-color: #DEB887;
}


body {
	background-color: #132235;
}

i.fas-fa-bars{
	width: 100%;
	height: 100%;
}
