.button1{

	position: relative;
	left: 25%;
}

.button2{

	position: relative;
	left: 25%;
}

.button {
  background-color: #ecdac7;
  border: 40px;
  color: #202020;
  padding: 10px;
  text-align: center;
  font-size: 40px;
  border-radius: 40px;
  margin-top: 2%;
  margin-left: 3%;

}

.button:hover {
  background-color: #DEB887;
}

.menu input{

  width: 200px;
  height: 35px;
  position: absolute;
  top: 5%;
  left: 50%;
}



body {
	background-color: #132235;
}








* {
padding: 0;
border:0;

}


.img{
  position: absolute;
  top: 20%;
  left: 10%;
}

.menu{
  width: auto;
  height: 50px;

}


}

.search-box{
position: absolute;
top: 40%;
left: 50%;
background: #ecdac7;
height: 40px;
border-radius: 40px;

}

